<h1>Sign up </h1>


    <%= form_for(@corsair) do |f| %>
    <%= render 'shared/error_messages' %>

    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: 'form-control' %>

    <%= f.label :age %>
    <%= f.number_field :age, class: 'form-control' %>

    <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
